/*


COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

* {
  padding: 0;
  margin: 0;
}

// every element, including its after and before will inhereit the box sizing attribute
// from the html element which is border box
*,
*::after,
*::before {
  box-sizing: inherit;
}

// the root element has higher specifity than html tag, so better to put all color here
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;

  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-Grey-light-2);
}

$bp-largest: 72.75em;
$bp-large: 63em;
$bp-medium: 51em;
$bp-small: 36.5em;
$bp-smallest: 32.7em;
$bp-ultrasmall: 30em;
$bp-ultrasmall-2: 26.5em;

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media screen and (max-width: $bp-ultrasmall-2) {
    font-size: 32%;
  }
}

body {
  font-family: "IBM Plex Mono";
  color: var(--color-Grey-dark-2);
}
